.Container {
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
  background: linear-gradient(180deg, #500096 0%, #000 65.61%, #000 100%);
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  margin: 0;
  padding: 0;
}
